<a href="https://colab.research.google.com/github/jsqzhu/nbme/blob/main/02_NSMB_Bert_NER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [2]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.9/dist-packages (4.27.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers) (3.10.7)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.13.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2.0.12)

In [3]:
import os
import numpy as np
import pandas as pd
import random
from sklearn.preprocessing import LabelEncoder
from tqdm.auto import tqdm
import tensorflow as tf
import tensorflow.keras as keras
import tensorflow.keras.layers as layers
import tensorflow.keras.backend as K
from tensorflow.keras import mixed_precision
#import tensorflow_addons as tfa
#import dill
import matplotlib.pyplot as plt
import transformers
from transformers import AutoTokenizer, AutoConfig,TFAutoModel
import json
import matplotlib.pyplot as plt
from ast import literal_eval

In [4]:
train = pd.read_csv('https://raw.githubusercontent.com/jsqzhu/nbme/main/data.csv')
train.head()

,id,case_num,pn_num,feature_num,annotation,location,pn_history,feature_text,annot_count,loc_count
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724'],HPI: 17yo M presents with palpitations. Patien...,Family-history-of-MI-OR-Family-history-of-myoc...,1,1
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693'],HPI: 17yo M presents with palpitations. Patien...,Family-history-of-thyroid-disorder,1,1
2,00016_002,0,16,2,['chest pressure'],['203 217'],HPI: 17yo M presents with palpitations. Patien...,Chest-pressure,1,1
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']",HPI: 17yo M presents with palpitations. Patien...,Intermittent-symptoms,2,2
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258'],HPI: 17yo M presents with palpitations. Patien...,Lightheaded,1,1

## Resources

https://huggingface.co/emilyalsentzer/Bio_ClinicalBERT

# Functions

In [5]:
def extract_location (location):
  """get start_char, end_char from location column"""
  #annotation = literal_eval(annotation)
  location = literal_eval(location)
  #annotation_list = []
  start_char = []
  end_char = []
  #if len(location)==0:
  #  start_char.append(-1)
  #  end_char.append(-1)
  #else:
  for n in range(len(location)):
      loc = location[n].split(' ')
      start_char.append(int(loc[0]))
      end_char.append(int(loc[1]))
  return start_char, end_char

# Prepare Data for Modeling

## Prepare feature entities

In [6]:
print('# unique feature labels: ', train['feature_num'].nunique())

# unique feature labels:  143

In [7]:
train['feature_num'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
       100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 300, 301, 302, 303, 304, 305, 306, 307, 308,
       309, 310, 311, 312, 313, 314, 315, 400, 401, 402, 403, 404, 405,
       406, 407, 408, 409, 500, 501, 502, 503, 504, 505, 506, 507, 508,
       509, 510, 511, 512, 513, 514, 515, 516, 517, 600, 601, 602, 603,
       604, 605, 606, 607, 608, 609, 610, 611, 700, 701, 702, 703, 704,
       705, 706, 707, 708, 800, 801, 802, 803, 804, 805, 806, 807, 808,
       809, 810, 811, 812, 813, 814, 815, 816, 817, 900, 901, 902, 903,
       904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916])

Recall that 4399 cases have no corresponding text in pn_history for the target feature entity. Thus, we need to create an additional class to account for the texts with no annotations

In [8]:
Label = ["O",] + train['feature_num'].unique().tolist() 
le = LabelEncoder()
le.fit(Label)

LabelEncoder()

In [9]:
train['target'] = le.transform(train['feature_num'])

## Prepare dataset

Use transformer with TF2.0: https://www.kdnuggets.com/2021/02/hugging-face-transformer-basics.html#:~:text=NLP%2Dfocused%20startup%20Hugging%20Face,for%20training%20and%20evaluation%20purposes.

In [20]:
# load model
from transformers import AutoTokenizer, AutoModel
tokenizer = AutoTokenizer.from_pretrained("emilyalsentzer/Bio_ClinicalBERT")
model = AutoModel.from_pretrained("emilyalsentzer/Bio_ClinicalBERT")

Some weights of the model checkpoint at emilyalsentzer/Bio_ClinicalBERT were not used when initializing BertModel: ['cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [21]:
test_text = train['pn_history'][0]

https://huggingface.co/docs/transformers/main_classes/tokenizer

In [22]:
encodings = tokenizer(test_text, 
                           max_length=512,
                           padding='max_length',#sentence max to save on computation
                           truncation=True,
                           return_offsets_mapping=True)

In [23]:
print(f'text: \'{test_text}\'')
print(f'input ids: {encodings["input_ids"]}')
print(f'attention mask: {encodings["attention_mask"]}')
print(f'offset_mapping: {encodings["offset_mapping"]}')

text: 'HPI: 17yo M presents with palpitations. Patient reports 3-4 months of intermittent episodes of "heart beating/pounding out of my chest." 2 days ago during a soccer game had an episode, but this time had chest pressure and felt as if he were going to pass out (did not lose conciousness). Of note patient endorses abusing adderall, primarily to study (1-3 times per week). Before recent soccer game, took adderrall night before and morning of game. Denies shortness of breath, diaphoresis, fevers, chills, headache, fatigue, changes in sleep, changes in vision/hearing, abdominal paun, changes in bowel or urinary habits.
PMHx: none
Rx: uses friends adderrall
FHx: mom with "thyroid disease," dad with recent heart attcak
All: none
Immunizations: up to date
SHx: Freshmen in college. Endorses 3-4 drinks 3 nights / week (on weekends), denies tabacco, endorses trying marijuana. Sexually active with girlfriend x 1 year, uses condoms'
input ids: [101, 6857, 1182, 131, 1542, 7490, 182, 8218, 1114, 185, 1348, 18965, 6006, 119, 5351, 3756, 124, 118, 125, 1808, 1104, 27946, 3426, 1104, 107, 1762, 5405, 120, 9683, 1149, 1104, 1139, 2229, 119, 107, 123, 1552, 2403, 1219, 170, 5862, 1342, 1125, 1126, 2004, 117, 1133, 1142, 1159, 1125, 2229, 2997, 1105, 1464, 1112, 1191, 1119, 1127, 1280, 1106, 2789, 1149, 113, 1225, 1136, 3857, 14255, 9589, 1757, 114, 119, 1104, 3805, 5351, 1322, 18649, 1116, 170, 7441, 1158, 5194, 21716, 1233, 117, 3120, 1106, 2025, 113, 122, 118, 124, 1551, 1679, 1989, 114, 119, 1196, 2793, 5862, 1342, 117, 1261, 5194, 1200, 4412, 1233, 1480, 1196, 1105, 2106, 1104, 1342, 119, 26360, 1603, 1757, 1104, 2184, 117, 4267, 25890, 12238, 1548, 117, 10880, 1116, 117, 11824, 1116, 117, 16320, 117, 18418, 117, 2607, 1107, 2946, 117, 2607, 1107, 4152, 120, 4510, 117, 24716, 185, 3984, 1179, 117, 2607, 1107, 7125, 1883, 1137, 190, 9324, 1616, 15640, 119, 9852, 1324, 1775, 131, 3839, 187, 1775, 131, 2745, 2053, 5194, 1200, 4412, 1233, 175, 1324, 1775, 131, 4113, 1114, 107, 21153, 16219, 3653, 117, 107, 4153, 1114, 2793, 1762, 1120, 1204, 2599, 1377, 1155, 131, 3839, 13280, 13601, 2605, 8569, 1116, 131, 1146, 1106, 2236, 188, 1324, 1775, 131, 4489, 2354, 1107, 2134, 119, 1322, 18649, 1116, 124, 118, 125, 8898, 124, 6823, 120, 1989, 113, 1113, 14464, 114, 117, 26360, 27629, 2822, 14566, 117, 1322, 18649, 1116, 1774, 18816, 119, 13014, 2327, 1114, 6124, 193, 122, 1214, 117, 2745, 23956, 1116, 102, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
attention mask: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
offset_mapping: [(0, 0), (0, 2), (2, 3), (3, 4), (5, 7), (7, 9), (10, 11), (12, 20), (21, 25), (26, 27), (27, 29), (29, 32), (32, 38), (38, 39), (40, 47), (48, 55), (56, 57), (57, 58), (58, 59), (60, 66), (67, 69), (70, 82), (83, 91), (92, 94), (95, 96), (96, 101), (102, 109), (109, 110), (110, 118), (119, 122), (123, 125), (126, 128), (129, 134), (134, 135), (135, 136), (137, 138), (139, 143), (144, 147), (148, 154), (155, 156), (157, 163), (164, 168), (169, 172), (173, 175), (176, 183), (183, 184), (185, 188), (189, 193), (194, 198), (199, 202), (203, 208), (209, 217), (218, 221), (222, 226), (227, 229), (230, 232), (233, 235), (236, 240), (241, 246), (247, 249), (250, 254), (255, 258), (259, 260), (260, 263), (264, 267), (268, 272), (273, 276), (276, 281), (281, 285), (285, 286), (286, 287), (288, 290), (291, 295), (296, 303), (304, 307), (307, 311), (311, 312), (313, 314), (314, 317), (317, 320), (321, 324), (324, 328), (328, 329), (329, 330), (331, 340), (341, 343), (344, 349), (350, 351), (351, 352), (352, 353), (353, 354), (355, 360), (361, 364), (365, 369), (369, 370), (370, 371), (372, 378), (379, 385), (386, 392), (393, 397), (397, 398), (399, 403), (404, 407), (407, 409), (409, 412), (412, 413), (414, 419), (420, 426), (427, 430), (431, 438), (439, 441), (442, 446), (446, 447), (448, 454), (455, 460), (460, 464), (465, 467), (468, 474), (474, 475), (476, 478), (478, 481), (481, 485), (485, 487), (487, 488), (489, 494), (494, 495), (495, 496), (497, 502), (502, 503), (503, 504), (505, 513), (513, 514), (515, 522), (522, 523), (524, 531), (532, 534), (535, 540), (540, 541), (542, 549), (550, 552), (553, 559), (559, 560), (560, 567), (567, 568), (569, 578), (579, 580), (580, 582), (582, 583), (583, 584), (585, 592), (593, 595), (596, 599), (599, 601), (602, 604), (605, 606), (606, 610), (610, 612), (613, 619), (619, 620), (623, 625), (625, 626), (626, 627), (627, 628), (629, 633), (635, 636), (636, 637), (637, 638), (639, 643), (644, 651), (652, 655), (655, 657), (657, 660), (660, 661), (663, 664), (664, 665), (665, 666), (666, 667), (668, 671), (672, 676), (677, 678), (678, 681), (681, 685), (686, 693), (693, 694), (694, 695), (696, 699), (700, 704), (705, 711), (712, 717), (718, 720), (720, 721), (721, 723), (723, 724), (726, 729), (729, 730), (731, 735), (737, 739), (739, 741), (741, 743), (743, 749), (749, 750), (750, 751), (752, 754), (755, 757), (758, 762), (764, 765), (765, 766), (766, 767), (767, 768), (769, 774), (774, 777), (778, 780), (781, 788), (788, 789), (790, 793), (793, 797), (797, 798), (799, 800), (800, 801), (801, 802), (803, 809), (810, 811), (812, 818), (819, 820), (821, 825), (826, 827), (827, 829), (830, 838), (838, 839), (839, 840), (841, 847), (848, 850), (850, 852), (852, 855), (855, 856), (857, 860), (860, 864), (864, 865), (866, 872), (873, 882), (882, 883), (884, 892), (893, 899), (900, 904), (905, 915), (916, 917), (918, 919), (920, 924), (924, 925), (926, 930), (931, 937), (937, 938), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0)]

In [24]:
for token_id, pos in zip(encodings['input_ids'], encodings['offset_mapping']):
    print(token_id, pos, test_text[pos[0]:pos[1]])

101 (0, 0)
6857 (0, 2) HP
1182 (2, 3) I
131 (3, 4) :
1542 (5, 7) 17
7490 (7, 9) yo
182 (10, 11) M
8218 (12, 20) presents
1114 (21, 25) with
185 (26, 27) p
1348 (27, 29) al
18965 (29, 32) pit
6006 (32, 38) ations
119 (38, 39) .
5351 (40, 47) Patient
3756 (48, 55) reports
124 (56, 57) 3
118 (57, 58) -
125 (58, 59) 4
1808 (60, 66) months
1104 (67, 69) of
27946 (70, 82) intermittent
3426 (83, 91) episodes
1104 (92, 94) of
107 (95, 96) "
1762 (96, 101) heart
5405 (102, 109) beating
120 (109, 110) /
9683 (110, 118) pounding
1149 (119, 122) out
1104 (123, 125) of
1139 (126, 128) my
2229 (129, 134) chest
119 (134, 135) .
107 (135, 136) "
123 (137, 138) 2
1552 (139, 143) days
2403 (144, 147) ago
1219 (148, 154) during
170 (155, 156) a
5862 (157, 163) soccer
1342 (164, 168) game
1125 (169, 172) had
1126 (173, 175) an
2004 (176, 183) episode
117 (183, 184) ,
1133 (185, 188) but
1142 (189, 193) this
1159 (194, 198) time
1125 (199, 202) had
2229 (203, 208) chest
2997 (209, 217) pressure
1105 (218, 221) and
1464 (222, 226) felt
1112 (227, 229) as
1191 (230, 232) if
1119 (233, 235) he
1127 (236, 240) were
1280 (241, 246) going
1106 (247, 249) to
2789 (250, 254) pass
1149 (255, 258) out
113 (259, 260) (
1225 (260, 263) did
1136 (264, 267) not
3857 (268, 272) lose
14255 (273, 276) con
9589 (276, 281) cious
1757 (281, 285) ness
114 (285, 286) )
119 (286, 287) .
1104 (288, 290) Of
3805 (291, 295) note
5351 (296, 303) patient
1322 (304, 307) end
18649 (307, 311) orse
1116 (311, 312) s
170 (313, 314) a
7441 (314, 317) bus
1158 (317, 320) ing
5194 (321, 324) add
21716 (324, 328) eral
1233 (328, 329) l
117 (329, 330) ,
3120 (331, 340) primarily
1106 (341, 343) to
2025 (344, 349) study
113 (350, 351) (
122 (351, 352) 1
118 (352, 353) -
124 (353, 354) 3
1551 (355, 360) times
1679 (361, 364) per
1989 (365, 369) week
114 (369, 370) )
119 (370, 371) .
1196 (372, 378) Before
2793 (379, 385) recent
5862 (386, 392) soccer
1342 (393, 397) game
117 (397, 398) ,
1261 (399, 403) took
5194 (404, 407) add
1200 (407, 409) er
4412 (409, 412) ral
1233 (412, 413) l
1480 (414, 419) night
1196 (420, 426) before
1105 (427, 430) and
2106 (431, 438) morning
1104 (439, 441) of
1342 (442, 446) game
119 (446, 447) .
26360 (448, 454) Denies
1603 (455, 460) short
1757 (460, 464) ness
1104 (465, 467) of
2184 (468, 474) breath
117 (474, 475) ,
4267 (476, 478) di
25890 (478, 481) aph
12238 (481, 485) ores
1548 (485, 487) is
117 (487, 488) ,
10880 (489, 494) fever
1116 (494, 495) s
117 (495, 496) ,
11824 (497, 502) chill
1116 (502, 503) s
117 (503, 504) ,
16320 (505, 513) headache
117 (513, 514) ,
18418 (515, 522) fatigue
117 (522, 523) ,
2607 (524, 531) changes
1107 (532, 534) in
2946 (535, 540) sleep
117 (540, 541) ,
2607 (542, 549) changes
1107 (550, 552) in
4152 (553, 559) vision
120 (559, 560) /
4510 (560, 567) hearing
117 (567, 568) ,
24716 (569, 578) abdominal
185 (579, 580) p
3984 (580, 582) au
1179 (582, 583) n
117 (583, 584) ,
2607 (585, 592) changes
1107 (593, 595) in
7125 (596, 599) bow
1883 (599, 601) el
1137 (602, 604) or
190 (605, 606) u
9324 (606, 610) rina
1616 (610, 612) ry
15640 (613, 619) habits
119 (619, 620) .
9852 (623, 625) PM
1324 (625, 626) H
1775 (626, 627) x
131 (627, 628) :
3839 (629, 633) none
187 (635, 636) R
1775 (636, 637) x
131 (637, 638) :
2745 (639, 643) uses
2053 (644, 651) friends
5194 (652, 655) add
1200 (655, 657) er
4412 (657, 660) ral
1233 (660, 661) l
175 (663, 664) F
1324 (664, 665) H
1775 (665, 666) x
131 (666, 667) :
4113 (668, 671) mom
1114 (672, 676) with
107 (677, 678) "
21153 (678, 681) thy
16219 (681, 685) roid
3653 (686, 693) disease
117 (693, 694) ,
107 (694, 695) "
4153 (696, 699) dad
1114 (700, 704) with
2793 (705, 711) recent
1762 (712, 717) heart
1120 (718, 720) at
1204 (720, 721) t
2599 (721, 723) ca
1377 (723, 724) k
1155 (726, 729) All
131 (729, 730) :
3839 (731, 735) none
13280 (737, 739) Im
13601 (739, 741) mu
2605 (741, 743) ni
8569 (743, 749) zation
1116 (749, 750) s
131 (750, 751) :
1146 (752, 754) up
1106 (755, 757) to
2236 (758, 762) date
188 (764, 765) S
1324 (765, 766) H
1775 (766, 767) x
131 (767, 768) :
4489 (769, 774) Fresh
2354 (774, 777) men
1107 (778, 780) in
2134 (781, 788) college
119 (788, 789) .
1322 (790, 793) End
18649 (793, 797) orse
1116 (797, 798) s
124 (799, 800) 3
118 (800, 801) -
125 (801, 802) 4
8898 (803, 809) drinks
124 (810, 811) 3
6823 (812, 818) nights
120 (819, 820) /
1989 (821, 825) week
113 (826, 827) (
1113 (827, 829) on
14464 (830, 838) weekends
114 (838, 839) )
117 (839, 840) ,
26360 (841, 847) denies
27629 (848, 850) ta
2822 (850, 852) ba
14566 (852, 855) cco
117 (855, 856) ,
1322 (857, 860) end
18649 (860, 864) orse
1116 (864, 865) s
1774 (866, 872) trying
18816 (873, 882) marijuana
119 (882, 883) .
13014 (884, 892) Sexually
2327 (893, 899) active
1114 (900, 904) with
6124 (905, 915) girlfriend
193 (916, 917) x
122 (918, 919) 1
1214 (920, 924) year
117 (924, 925) ,
2745 (926, 930) uses
23956 (931, 937) condom
1116 (937, 938) s
102 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)
0 (0, 0)

In [25]:
# need to check the max length
# check if len(subtoken) longer than max_length from the model?
#https://ai.stackexchange.com/questions/37624/why-do-transformers-have-a-fixed-input-length
# how to handle longer tokens
#https://stackoverflow.com/questions/74290497/how-to-handle-sequences-longer-than-512-tokens-in-layoutlmv3
# for offset_mapping
# https://huggingface.co/transformers/v4.2.2/custom_datasets.html

use model tokenizer to prepare input text; 
convert pn_history to word embedding as input features

In [26]:
train_copy = train.copy()

In [27]:
train_copy[train_copy['location'].str.contains(';')].head()

,id,case_num,pn_num,feature_num,annotation,location,pn_history,feature_text,annot_count,loc_count,target
48,00082_009,0,82,9,"['heart pounding', 'heart racing', 'heart poun...","['85 99', '126 138', '126 131;143 151']",17 yo M w/ no cardiac or arrhythmia PMH presen...,heart-pounding-OR-heart-racing,3,3,125
91,00211_000,0,211,0,['Father MI'],['682 688;695 697'],HPI: Patient is a 17 yo m with a c/o of palpit...,Family-history-of-MI-OR-Family-history-of-myoc...,1,1,0
96,00211_005,0,211,5,['Denies sweating'],['462 468;473 481'],HPI: Patient is a 17 yo m with a c/o of palpit...,No-hair-changes-OR-no-nail-changes-OR-no-tempe...,1,1,64
100,00211_009,0,211,9,"['palpitations', 'Palpitations', 'palpitations...","['40 52', '55 67', '104 116', '161 178', '161 ...",HPI: Patient is a 17 yo m with a c/o of palpit...,heart-pounding-OR-heart-racing,5,5,125
125,00225_008,0,225,8,"['drinks coffee', 'drinks energy drinks']","['461 467;483 489', '461 467;506 519']",17 y/o previously healthy male here with heart...,Caffeine-use,2,2,106

In [28]:
# remove records with error in annotation/location; will investigate later
train = train[~train['location'].str.contains(';')]

In [29]:
train['start_char'], train['end_char'] = zip(*train['location'].apply(lambda x: extract_location(x)))

In [30]:
train = train.explode(['start_char','end_char'])

In [31]:
train.head()

,id,case_num,pn_num,feature_num,annotation,location,pn_history,feature_text,annot_count,loc_count,target,start_char,end_char
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724'],HPI: 17yo M presents with palpitations. Patien...,Family-history-of-MI-OR-Family-history-of-myoc...,1,1,0,696,724
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693'],HPI: 17yo M presents with palpitations. Patien...,Family-history-of-thyroid-disorder,1,1,1,668,693
2,00016_002,0,16,2,['chest pressure'],['203 217'],HPI: 17yo M presents with palpitations. Patien...,Chest-pressure,1,1,18,203,217
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']",HPI: 17yo M presents with palpitations. Patien...,Intermittent-symptoms,2,2,36,70,91
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']",HPI: 17yo M presents with palpitations. Patien...,Intermittent-symptoms,2,2,36,176,183

## SEQUENCE Length

In [73]:
pn_history=[]
input_id_sequence = []
attn_sequence = []
Target_labels = []
max_sequence_length = 0
for pn in train.groupby('pn_num'):
  # for loop to get encoding for each unique clinical note
  # output is a tuple (pn_num, df)
  df = pn[1] 
  #clinical note to be annotated
  pn_history = df.iloc[0].pn_history
  
  # get encoding
  encoding = tokenizer(pn_history, 
                       #max_length=512,
                       padding='max_length',#sentence max to save on computation
                       truncation=False,
                       return_offsets_mapping=True)
  input_id = encoding['input_ids']
  attn = encoding['attention_mask']
  offset = encoding['offset_mapping']

  sequence_length = len(input_id)
  if sequence_length > max_sequence_length:
    max_sequence_length = sequence_length
  else:
    pass

print('max_sequence_length: ', max_sequence_length)

max_sequence_length:  300

## Testing target labeling

In [32]:
test = train[train.pn_num==16]

In [33]:
test

,id,case_num,pn_num,feature_num,annotation,location,pn_history,feature_text,annot_count,loc_count,target,start_char,end_char
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724'],HPI: 17yo M presents with palpitations. Patien...,Family-history-of-MI-OR-Family-history-of-myoc...,1,1,0,696,724
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693'],HPI: 17yo M presents with palpitations. Patien...,Family-history-of-thyroid-disorder,1,1,1,668,693
2,00016_002,0,16,2,['chest pressure'],['203 217'],HPI: 17yo M presents with palpitations. Patien...,Chest-pressure,1,1,18,203,217
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']",HPI: 17yo M presents with palpitations. Patien...,Intermittent-symptoms,2,2,36,70,91
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']",HPI: 17yo M presents with palpitations. Patien...,Intermittent-symptoms,2,2,36,176,183
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258'],HPI: 17yo M presents with palpitations. Patien...,Lightheaded,1,1,53,222,258
5,00016_005,0,16,5,[],[],HPI: 17yo M presents with palpitations. Patien...,No-hair-changes-OR-no-nail-changes-OR-no-tempe...,0,0,64,NaN,NaN
6,00016_006,0,16,6,"['adderall', 'adderrall', 'adderrall']","['321 329', '404 413', '652 661']",HPI: 17yo M presents with palpitations. Patien...,Adderall-use,3,3,83,321,329
6,00016_006,0,16,6,"['adderall', 'adderrall', 'adderrall']","['321 329', '404 413', '652 661']",HPI: 17yo M presents with palpitations. Patien...,Adderall-use,3,3,83,404,413
6,00016_006,0,16,6,"['adderall', 'adderrall', 'adderrall']","['321 329', '404 413', '652 661']",HPI: 17yo M presents with palpitations. Patien...,Adderall-use,3,3,83,652,661
7,00016_007,0,16,7,[],[],HPI: 17yo M presents with palpitations. Patien...,Shortness-of-breath,0,0,96,NaN,NaN
8,00016_008,0,16,8,[],[],HPI: 17yo M presents with palpitations. Patien...,Caffeine-use,0,0,106,NaN,NaN
9,00016_009,0,16,9,"['palpitations', 'heart beating/pounding']","['26 38', '96 118']",HPI: 17yo M presents with palpitations. Patien...,heart-pounding-OR-heart-racing,2,2,125,26,38
9,00016_009,0,16,9,"['palpitations', 'heart beating/pounding']","['26 38', '96 118']",HPI: 17yo M presents with palpitations. Patien...,heart-pounding-OR-heart-racing,2,2,125,96,118
10,00016_010,0,16,10,['3-4 months of'],['56 69'],HPI: 17yo M presents with palpitations. Patien...,Few-months-duration,1,1,2,56,69
11,00016_011,0,16,11,['17yo'],['5 9'],HPI: 17yo M presents with palpitations. Patien...,17-year,1,1,13,5,9
12,00016_012,0,16,12,['M'],['10 11'],HPI: 17yo M presents with palpitations. Patien...,Male,1,1,17,10,11

https://www.lighttag.io/blog/sequence-labeling-with-transformers/example

In [34]:
# create a dictionary of target and start_char, and target and end_char
#target_start_dict = {k:[j for i in v for j in i] for k, v in test.groupby('target')['start_char']}
#target_end_dict = {k:[j for i in v for j in i] for k, v in test.groupby('target')['end_char']}

In [35]:
# tokenize the text 
encoding = tokenizer(test['pn_history'][0], 
                       #max_length='512',
                       padding='longest',#sentence max to save on computation
                      truncation=False,
                        return_offsets_mapping=True)
input_id = encoding['input_ids']
attn = encoding['attention_mask']
offset = encoding['offset_mapping']

In [36]:
len(offset)

253

In [37]:
# create a list same length as tokens to store target labels
Target_entity_labels = []
Target_entity_labels = ["O"]*len(offset)
# iterate through rows in dataframe to compare start/end char with the offset mapping position
for idx, row in test.iterrows(): 
  # compare
  start = row.start_char
  end = row.end_char
  target = row.target
  for i, (pos_1, pos_2) in enumerate(offset):
    if (pos_1 >= start) and (pos_2 <= end): #
      Target_entity_labels[i] = target
    else:
      pass
#print(Target_entity_labels)

In [38]:
Target_entity_labels

['O',
 'O',
 'O',
 'O',
 13,
 13,
 17,
 'O',
 'O',
 125,
 125,
 125,
 125,
 'O',
 'O',
 'O',
 2,
 2,
 2,
 2,
 2,
 36,
 36,
 'O',
 'O',
 125,
 125,
 125,
 125,
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 36,
 'O',
 'O',
 'O',
 'O',
 'O',
 18,
 18,
 'O',
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 83,
 83,
 83,
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 83,
 83,
 83,
 83,
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 83,
 83,
 83,
 83,
 'O',
 'O',
 'O',
 'O',
 1,
 1,
 1,
 1,
 1,
 1,
 'O',
 'O',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O',
 'O']

## Prepare data for Bert

In [74]:
pn_history=[]
input_id_sequence = []
attn_sequence = []
Target_labels = []
for pn in train.groupby('pn_num'):
  # for loop to get encoding for each unique clinical note
  # output is a tuple (pn_num, df)
  df = pn[1] 
  #clinical note to be annotated
  pn_history = df.iloc[0].pn_history
  
  # get encoding
  encoding = tokenizer(pn_history, 
                       max_length=max_sequence_length,
                       padding='max_length',#sentence max to save on computation
                       truncation=False,
                       return_offsets_mapping=True)
  input_id = encoding['input_ids']
  attn = encoding['attention_mask']
  offset = encoding['offset_mapping']

  # prepare target sequence
  # First, create a target_entity_sequence same length as encoding and fill by default 'O'
  Target_label = ["O"]*len(offset) 
  # Next, iterate through rows in df to compare start/end char with the offset_mapping position
  for idx, row in df.iterrows(): 
    start = row.start_char
    end = row.end_char
    target = row.target

    for i, (pos_1, pos_2) in enumerate(offset):
      if (pos_1 >= start) and (pos_2 <= end): #
        Target_label[i] = target
      else:
        pass
  Target_labels.append(Target_label)
  input_id_sequence.append(input_id)
  attn_sequence.append(attn)

In [75]:
print(len(input_id_sequence))
print(len(attn_sequence))
print(len(Target_labels))

1000
1000
1000

In [76]:
print(len(input_id_sequence[0]))
print(len(attn_sequence[0]))
print(len(Target_labels[0]))

300
300
300

In [77]:
pn_history

'Stephanie madden is a 20 year old woman complaining of headache. Pain began yesterday morning and has been getting worse. Dull constant ache bilaterally, worse with walking, bending over, no alleviating factors. Did not respond to ibuprofen, Tylenol, or sleep. Complains of photobia, but not phonophobia, no aura. Subjective fever today. Neck stiffness. Nausea and vomiting. No dizzyness or lightheadedness, no weakness, no sick contacts.\r\nROS: otherwise negative\r\nPMH: none\r\nPSH: none\r\nHosp: none\r\nMed: Birth control pill\r\nAllergies: none\r\nSoc: works at sporting good store, lives with roomate, no tobacoo, etoh 2-3 drinks on weekends, marijuna 3-4 joints a week, sexually active and uses condoms'

In [78]:
np.array(input_id)

array([  101,  2585, 22808,  1162,  6340,  2883,  1110,   170,  1406,
        1214,  1385,  1590, 19533,  1104, 16320,   119,  2489,  1310,
        8128,  2106,  1105,  1144,  1151,  2033,  4146,   119, 10884,
        4836, 12953, 20557,  1193,   117,  4146,  1114,  3179,   117,
       16571,  1166,   117,  1185,  1155,  6348, 25148,  5320,   119,
        1225,  1136,  6297,  1106,   178,  7925,  1643,  2180, 13488,
         117,   189, 12415,  2728,  1233,   117,  1137,  2946,   119,
       19073,  1116,  1104,  6307, 10242,   117,  1133,  1136,   185,
        8613,  4184,  5114, 10242,   117,  1185, 19035,   119, 23481,
       10880,  2052,   119,  2455, 11111,  1757,   119, 22882,  1105,
       26979,  1158,   119,  1185, 21441,  1757,  1137,  1609, 14443,
        1757,   117,  1185, 11477,   117,  1185,  4809, 10492,   119,
         187,  2155,   131,  4303,  4366,  9852,  1324,   131,  3839,
       15604,  1324,   131,  3839, 16358, 20080,   131,  3839,  1143,
        1181,   131,  3485,  1654, 21822,  1155,  1200, 19310,   131,
        3839,  1177,  1665,   131,  1759,  1120,  9648,  1363,  2984,
         117,  2491,  1114,  1395,  2193,   117,  1185,  1106,  2822,
        2528,  1186,   117,  3084, 10559,   123,   118,   124,  8898,
        1113, 14464,   117, 12477,  2047, 17936,  1161,   124,   118,
         125, 19365,   170,  1989,   117, 13014,  2327,  1105,  2745,
       23956,  1116,   102,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0])

In [79]:
np.array(attn)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [81]:
len(attn)

300